.pagination {
    color: black;
    padding: 0px;
    margin: 30px;
    display: flex;
    justify-content: center;

}
.step-links a{
    color: blue;
    margin-left: 0px;
    padding: 5px;
    border: none;
    text-decoration: none;

}
.current {

    padding: 3px;
    border: 1px solid green;
    border-radius: 10px;
    background-color: #dfe6e9;

}